html, body {
	font-family: 'Microsoft YaHei', serif;
}

.stage-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
}

.stage-container .stage {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#game-moving-ships-stage {
	z-index: 1;
}

#game-stage {
	z-index: 2;
}

#ui-stage {
	z-index: 3;
}

#star-bg {
	background-image: url('../images/star1.png');
	background-repeat: repeat;
}

#star-bg2 {
	background-image: url('../images/star2.png');
	background-repeat: repeat;
}

.player {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background: #fff;
	z-index: 4;
}

.ranklist {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 5px;
	z-index: 4;
}

.ranklist p:last-child {
	margin-bottom: 0;
}

.modal .title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal .form-group:last-child {
	margin-bottom: 0;
}

.modal.fade .modal-dialog {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.modal.in .modal-dialog {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.ratio {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	bottom: 10px;
	left: 10px;
	box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.3), inset 0 0.2em 0.4em -0.2em rgba(255, 255, 255, 0.2), 0 0 0.2em rgba(0, 0, 0, 0.4);
	background: -webkit-linear-gradient(top, #3F3F4C, #191720);
	background: linear-gradient(to bottom, #3F3F4C, #191720);
	overflow: hidden;
	z-index: 3;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ratio > * {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.ratio .text {
	position: absolute;
	top: -27px;
	width: 100%;
	font-size: 18px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

.ratio .wheel {
	width: 84px;
	height: 84px;
	border-radius: 50%;
	box-shadow: inset 0 0.1em 0.2em rgba(255, 255, 255, 0.2), 0 1em 2em 0.4em rgba(0, 0, 0, 0.5), 0 -1em 2em 0.1em rgba(255, 255, 255, 0.1);
	background: linear-gradient(to bottom, #525161, #322E3D);
}

.ratio .wheel .indicator {
	width: 100%;
	height: 100%;
	transform: rotate(30deg);
}

.ratio .wheel .indicator:after {
	content: '';
	display: block;
	position: absolute;
	background: #3B3A46;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	top: 7px;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 0 1px 1px -1px rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.4);
}

.ratio .outline {
	width: 130px;
	height: 130px;
	transform: rotate(-120deg) scaleY(-1);
}

.ratio .path-bg {
	stroke-dasharray: 471 565;
}

.ratio .path {
	stroke-dasharray: 471 565;
}