html, body {
	font-family: 'Microsoft YaHei', serif;
}

.stage-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
}

.stage-container .stage {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#bg-stage {
	z-index: 1;
}

#game-moving-ships-stage {
	z-index: 2;
}

#game-stage {
	z-index: 3;
}

#ui-stage {
	z-index: 4;
}

.player {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background: #fff;
	z-index: 5;
}

.ranklist {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 5px;
	z-index: 5;
}

.ranklist p:last-child {
	margin-bottom: 0;
}

.modal .title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal .form-group:last-child {
	margin-bottom: 0;
}

.modal.fade .modal-dialog {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.modal.in .modal-dialog {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.props {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 5;
}

#ratio {
	position: absolute;
	bottom: 20px;
	left: 35%;
	width: 30%;
	z-index: 999;
}

.rangeslider__fill {
	/*background: #00BFFF;*/
}

.rangeslider__handle {
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 10px;
}

.rangeslider--horizontal .rangeslider__handle {
	top: -5px;
}

.rangeslider__handle:after {
	background-image: none;
}