html, body {
	font-family: 'Microsoft YaHei', serif;
}

.stage-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#game-stage {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#ui-stage {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#count-ratio {
	position: absolute;
	bottom: 20px;
	left: 35%;
	width: 30%;
	z-index: 3;
}

.modal .title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal.fade .modal-dialog {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.modal.in .modal-dialog {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.rangeslider--horizontal .rangeslider__handle {
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	top: -5px;
	border-radius: 10px;
}

.rangeslider__handle:after {
	display: none;
}