<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<title>SolarWar</title>
	<link rel="stylesheet" href="/static/style/main.css">
</head>

<body>
	<canvas id="game-stage"></canvas>
	<canvas id="ui-stage"></canvas>
	<div id="count-ratio">
		<input type="range" min="1" max="100" step="1" value="100" data-rangeslider>
	</div>

	<script src="/static/scripts/lib/jquery-3.1.0.min.js"></script>
	<script src="/static/scripts/lib/jquery.mousewheel.min.js"></script>
	<script src="/static/scripts/lib/rangeslider.min.js"></script>
	<script src="/static/scripts/bundle.js"></script>
</body>

</html>